* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 3em;
}

.tableHeader {
  display: grid;
  grid-template-columns: repeat(3, 10vw) 7vw repeat(3, 7vw) 5vw 3vw;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 70px 0px 20px 0px;
  font-weight: bold;
  font-family: "Amatic SC", sans-serif;
}

#tableEntry {
  display: grid;
  grid-template-columns: repeat(3, 10vw) 7vw repeat(3, 7vw) 5vw 3vw;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  padding: 40px 40px 40px 40px;
}

input:not([type="button"]) {
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px rgba(66, 66, 66, 1);
}

#bg {
  position: absolute;
  inset: 0;
  z-index: -99999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
}

body {
  background-image: url("bgg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#table {
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 1em;
  border: 1px white solid;
  backdrop-filter: blur(5px);
  display: grid;
  -webkit-box-shadow: 0px 7px 68px 16px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 0px 7px 68px 16px rgba(0, 0, 0, 0.71);
  box-shadow: 0px 7px 68px 16px rgba(0, 0, 0, 0.71);
  margin: 5vw 0vw 0vw 0vw;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: gray;
  background-clip: padding-box;
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  box-shadow: none;
  min-height: 50px;
}

::-webkit-scrollbar-track {
  border: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
input[type="text"] {
  width: 8vw;
}
input[type="date"] {
  width: 5vw;
}
input[type="number"] {
  width: 5vw;
}

button {
  font-size: 1vw;
  padding: 0.4vw;
  box-shadow: inset 0px 1px 0px 0px #ebf5f5;
  background: linear-gradient(to bottom, #f6ff50 5%, #92a526 100%);
  background-color: #feffa8;

  border: 1px solid #151515;

  cursor: pointer;
  color: #151414;
  font-family: "Courier New", Courier, monospace;

  font-weight: bold;

  text-shadow: 0px 1px 0px #fcf1f1;
}
button:hover {
  background: linear-gradient(to bottom, #92a526 5%, #f6ff50 100%);
  background-color: #fcf2a8;
  transform: translate(-3px, -3px);
}
button:active {
  background: white;
}
.line {
  position: relative;
  height: 10px;
  border: 0;
  width: 65vw;
  left: 10%;
  top: 5%;
  box-shadow: 0 10px 10px -10px #000000 inset;
}
.tableEntry div {
  position: absolute;
  top: 100px;
}
.heading {
  border-right: 0.5vw groove #918a8a;
  padding-right: 2.3vw;
  height: 30px;
  font-size: 1vw;
}

.button {
  position: absolute;
  right: 20%;
  background: linear-gradient(to bottom, rgb(19, 172, 255) 5%, #9ffff9 100%);
  box-shadow: inset 0px 1px 0px 0px #c2ffff;
}
.button:hover {
  background: linear-gradient(to bottom, #9ffff9 5%, rgb(19, 172, 255) 100%);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -10px 10px -10px #000000 inset;
  padding-bottom: 10px;
  font-size: 2vw;
}
@media only screen and (max-width: 630px) {
  input:not([type="button"]) {
    height: 0.5vh;
  }
  #tableEntry {
    display: grid;
    grid-template-columns: repeat(3, 2px) 2px repeat(3, 2px) 0px 0px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    text-align: center;
    padding: 5px 5px 5px 0px;
  }
  #tableEntry:not(.tableButton) {
    gap: 30px;
  }
  #tableEntry .tableButton {
    padding-right: 2px;
  }
}
